<%= content_for(:html_head) do %>
  <%= stylesheet_link_tag "sessions" %>
  <%= javascript_include_tag "sessions" %>
  <%= javascript_include_tag "jquery.bgswitcher.js" %>
<% end %>

<div class="sessions-container">
  <div class="sessions-container-inner">
    <h1 class="form-title">Task Manager</h1>
    <%= form_with scope: :session, local: true, class: "form" do |f| %>
      <div class="form-item">
        <%= f.text_field :email, id: "session_email", placeholder: "Email Address" %>
      </div>
      <div class="form-item">
        <%= f.password_field :password, id: "session_password", placeholder: "Password" %>
      </div>
      <div class="signin-button">
        <%= f.submit "Sign In", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
