<%= content_for(:html_head) do %>
  <%= stylesheet_link_tag "tasks" %>
  <%= javascript_include_tag "tasks" %>
<% end %>

<%# ヘッダー %>
<%= render partial: "header" %>

<%# サイドバー %>
<%= render partial: "sidebar" %>

<div id="task-page-container">
  <h1>タスクの編集</h1>

  <%= render partial: "form", locals: { task: @task } %>
</div>
