<%= content_for(:html_head) do %>
  <%= stylesheet_link_tag "tasks" %>
  <%= javascript_include_tag "tasks" %>
<% end %>

<%# ヘッダー %>
<%= render partial: "shared/header" %>

<%# サイドバー %>
<%= render partial: "shared/sidebar" %>

<%# アクションメッセージ %>
<div class="page-container">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

  <h1>タスク一覧</h1>

  <div class="main-top-content">
    <div>
      <%# ページネーション %>
      <%= paginate @tasks %>
      <%= page_entries_info @tasks %>
    </div>
    <%# 検索機能 %>
    <div class="main-search-content">
      <%= search_form_for @q, url: main_tasks_path, class: "task-search" do |f| %>
        <div>
          <%= f.search_field :title_cont, class: "search-field", placeholder: "タイトルを入力してください" %>
          <%= f.button type: "submit", class: "search-button" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="aaa">
      <%= form_with model: @tasks, url: search_path, method: :get, local: true do |f| %>
        <%= f.select :keyword, [['新着順', 'new'], ['古い順', 'old'], ['優先度順', 'priority'], ['進捗率順', 'rate']] %>
        <%= f.submit "並び替え" %>
      <% end %>
    </div>
  </div>
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>カテゴリー</th>
        <th>優先度</th>
        <th>進捗率</th>
        <th>登録日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <%= link_to task.id %>
          </td>
          <td>
            <%= link_to task.title, task %>
          </td>
          <td>
            <%= TasksController::Category_Name[task.category] %>
          </td>
          <td>
            <%= TasksController::Priority_Name[task.priority] %>
          </td>
          <td>
            <%= TasksController::Rate_Name[task.rate] %>
          </td>
          <td>
            <%= task.created_at %>
          </td>
          <td>
            <%= link_to "編集", edit_task_path(task), class: "btn btn-primary mr-3" %>
            <%= link_to "削除", task, method: :delete, data: { confirm: "タスク「#{task.title}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
