<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>

<h1>タスクの詳細</h1>

<div class="nav justify-content-end">
  <% if @task.done? %>
    <%= link_to "Done一覧", done_tasks_path, class: "nav-link" %>
  <% else %>
    <%= link_to "Todo一覧", todo_tasks_path, class: "nav-link" %>
  <% end %>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <th>タイトル</th>
      <td><%= @task.title %></td>
    </tr>
    <tr>
      <th>詳細</th>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <th>画像</th>
      <td><%= image_tag @task.image if @task.image.attached? %></td>
    </tr>
    <tr>
      <th>登録日</th>
      <td><%= @task.created_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集", edit_task_path, class: "btn btn-primary mr-3" %>
<%= link_to "削除", @task, method: :delete, data: { confirm: "タスク「#{@task.title}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
