<%= content_for(:html_head) do %>
  <%= stylesheet_link_tag "groups" %>
<% end %>

<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>

<div class="page-container">
  <%= render 'shared/message_menu_bar' %>
</div>
