<%= content_for(:html_head) do %>
  <%= stylesheet_link_tag "users" %>
  <%= javascript_include_tag "users" %>
<% end %>

<%# ヘッダー %>
<%= render partial: "shared/header" %>

<%# サイドバー %>
<%= render partial: "shared/sidebar" %>

<div class="page-container">
  <h1>ユーザーの編集</h1>

  <%= render partial: "form", locals: { user: @user } %>
</div>
