<%= content_for(:html_head) do %>
    <%= stylesheet_link_tag "users" %>
    <%= javascript_include_tag "users" %>
<% end %>

<%# ヘッダー %>
<%= render partial: "shared/header" %>

<%# サイドバー %>
<%= render partial: "shared/sidebar" %>

<%# アクションメッセージ %>
<div class="page-container">
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

  <h1>ユーザー一覧画面</h1>

  <table class="table">
      <thead class="thead-default">
          <tr>
              <th>名前</th>
              <th>登録日</th>
              <th>編集日</th>
          </tr>
      </thead>
      <tbody>
          <% @users.each do |user| %>
              <tr>
                  <td>
                      <%= user.name %>
                  </td>
                  <td>
                      <%= user.created_at %>
                  </td>
                  <td>
                      <%= user.updated_at %>
                  </td>
                  <td>
                      <%= link_to "編集", edit_user_path(user), class: "btn btn-primary mr-3" %>
                      <%= link_to "削除", user, method: :delete, data: { confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
                  </td>
              </tr>
          <% end %>
      </tbody>
  </table>
</div>