<header class="header header-bg-<%= current_user.bg_color_id %>">
  <div class="header-wrapper">
    <div class="header-start">
      <a href="#"><em>TaskManager</em></a>
    </div>
    <div class="header-end">
      <nav class="header-nav">
        <ul class="header-nav-wrapper">
          <% if current_user %>
            <li class="header-nav-item">
              <%= link_to "タスク一覧", main_tasks_path %>
            </li>
            <li class="header-nav-item">
              <%= link_to "ユーザー一覧", users_path %>
            </li>
            <li class="header-nav-item">
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
          <% else %>
            <li class="header-nav-item">
              <%= link_to "ログイン", login_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
