<nav class="sidebar-wrapper sidebar-bg-<%= current_user.bg_color_id %>">
  <ul class="sidebar-nav">
    <li class="sidebar-nav-item">
      <%= link_to new_task_path do %>
        <i class="fas fa-plus"></i>タスクの追加
      <% end %>
    </li>
    <li class="sidebar-nav-item">
      <a><i class="fas fa-sync-alt"></i>タスクの編集</a>
    </li>
    <li class="sidebar-nav-item">
      <%= link_to main_tasks_path do %>
        <i class="fas fa-list-alt"></i>タスク一覧
      <% end %>
    </li>
    <li class="sidebar-nav-item">
      <%= link_to groups_path do %>
        <i class="fas fa-comment-dots"></i>メッセージ
      <% end %>
    </li>
    <li class="sidebar-nav-item">
      <a><i class="fas fa-pen"></i>Wiki</a>
    </li>
    <li class="sidebar-nav-item">
      <%= link_to configuration_tasks_path do %>
        <i class="fas fa-cogs"></i>設定
      <% end %>
    </li>
  </ul>
</nav>
